<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" ng-app="mainModule">
<head th:include="_head :: imports">

</head>
<body>
<div ng-controller="signinController">
    <div class="wrapper">
        <form name="signinForm" class="form-signin" th:action="@{/login}" method="post" novalidate>
            <h2 class="form-signin-heading">Login</h2>

            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : signinForm.email.$invalid && !signinForm.email.$pristine }">
                <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email Address"
                       autofocus="" required/>

                <p ng-show="signinForm.email.$invalid && !signinForm.email.$pristine" class="help-block">Enter a valid
                    email</p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : signinForm.password.$invalid && !signinForm.password.$pristine }">
                <input type="password" class="form-control" name="password" ng-model="user.password"
                       placeholder="Password" required/>

                <p ng-show="signinForm.password.$invalid && !signinForm.password.$pristine" class="help-block">You must
                    enter a password</p>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signinForm.$invalid">Login
            </button>
        </form>
    </div>
</div>
</body>
</html>

